.mood_post {
    display: flex;http://wap4.co/site/482/
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: relative;
    padding: 0;
    margin-right: 20px;
    background: rgb(255 255 255 / 0%);
}

.post {
    display: flex;
    background: #fff;
    margin-bottom: 20px;
}

.mood_post .comment-author {
    position: relative;
    margin-right: 0;
    flex-shrink: 0;
    margin-left: 17px;
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
@media (prefers-reduced-motion: reduce), print
.animated {
    -webkit-animation-duration: 1ms!important;
    animation-duration: 1ms!important;
    -webkit-transition-duration: 1ms!important;
    transition-duration: 1ms!important;
    -webkit-animation-iteration-count: 1!important;
    animation-iteration-count: 1!important;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.comment-author {
    float: left;
    margin-right: 17px;
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    position: relative;
}



.post_thumbnail-custom {
  display:flex;
  box-sizing:border-box;
  padding:24.72px;
  #margin:15px;
  margin-bottom: 10px;
  background-size:cover;
  flex-direction:row;
  align-items:flex-end;
  border-radius:5px;
  height:14rem;
  background-position:center;
}

.article-headline-p {
  font-size:26px;
  line-height:40px;
  font-weight:700;
  margin:auto;
  text-shadow:0 0 6px #31353a;
}

.archiveTitle {
  font-size:15px;
  text-align:center;
}

.post-headline-p {
  font-size:26px;
  font-weight:700;
  margin:0;
  text-shadow:0 0 6px #31353a;
  display:flex;
  flex-direction:column;
  word-break:break-all;
  text-align:center;
}

.post_article-content {
  box-shadow:0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06) !important;
  margin:0 1rem 1rem 1rem;
  border-radius:5px;
  transition:.3s;
}

.post_article-content:hover {
  box-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06) !important;
}

.post_entry-content {

}

#type_books .post_entry-content {
  padding:0 1rem !important;
}

#type_movies .post_entry-content {
  padding:0 1rem !important;
}

@media only screen and (max-width:580px) {
  .post_article-content {
    box-shadow:none !important;
    margin:0;
  }
  .post_entry-content {

  }
  #type_books .post_entry-content {
    padding:10px 1rem 12px 1rem !important;
  }
  #type_movies .post_entry-content {
    padding:10px 1rem 12px 1rem !important;
  }
  .article-headline-p {
    font-size:1.3rem;
  }
  .post-headline-p {
    font-size:1.3rem;
  }
  .post_thumbnail-custom {
    height:10rem;
  }
  .book_post_thumbnail {
    height:13rem;
  }
}

.post_entry-left-info {
  float:left;
  display:flex;
  box-sizing:border-box;
  padding:1pc;
  height:auto;
  flex-direction:row;
  align-items:center;
  justify-content:flex-start;
}

.post_entry-right-info {
  float:right;
  font-size:13px;
  font-weight:400;
  padding:1pc;
  margin-top:20px;
  margin-right:0;
}

.post_category-link a {
  text-decoration:none;
  font-weight:400;
  font-size:12px;
  color:#76848f;
  background:#f1f5f9;
  padding:6px 10px;
  border-radius:6px;
}

.post_category-link a:hover {
  color:#000;
}

.post-content {
  max-width:100%;
  padding-top:0;
  #padding:1rem;
  #color:#31353a;
}

.nice-dark-mode, .nice-dark-mode .post-content {
    color: #ffffff;
    background-color: #191919;
}

.post-content img {
  border-radius:5px;
}

.post-content h1 {
  border-left:4px solid rgb(70 81 97);
  width:auto;
  padding:0 10px;
  margin:20px 10px 15px 0;
  font-size:1.3rem;
  font-weight:700;
  line-height:1.5;
}

.post-content h2 {
  border-left:4px solid rgb(70 81 97);
  width:auto;
  padding:0 10px;
  margin:20px 10px 15px 0;
  font-size:1.2rem;
  font-weight:700;
  line-height:1.5;
}

.post-content h3 {
  border-left:4px solid rgb(70 81 97);
  width:auto;
  padding:0 10px;
  margin:20px 10px 15px 0;
  font-size:1.1rem;
  font-weight:700;
  line-height:1.5;
}

.post-content h4 {
  border-left:4px solid rgb(70 81 97);
  width:auto;
  padding:0 10px;
  margin:20px 10px 15px 0;
  font-size:1rem;
  font-weight:700;
  line-height:1.5;
}

.post-content h5 {
  border-left:4px solid rgb(70 81 97);
  width:auto;
  padding:0 10px;
  margin:20px 10px 15px 0;
  font-size:.9rem;
  font-weight:700;
  line-height:1.5;
}

.post-content h6 {
  border-left:4px solid rgb(70 81 97);
  width:auto;
  padding:0 10px;
  margin:20px 10px 15px 0;
  font-size:.8rem;
  font-weight:700;
  line-height:1.5;
}


#book .page {
  overflow:hidden;
  border-radius:3px;
}

@media screen and (min-width:768px) {
  #book .content {
    grid-template-columns:1fr 1fr;
  }
}

#book .content {
  display:grid;
  grid-column-gap:16px;
  text-align:justify;
  padding:16px;
}

#book .content li {
  list-style:none;
  margin-bottom:16px;
  border-radius:5px;
  box-shadow:0 20px 40px rgb(103 118 128 / 3%);
  padding:1rem;
  background-color:#fff;
  -webkit-transition:all .3s ease 0s,-webkit-transform .6s cubic-bezier(.6,.2,.1,1) 0s;
  transition:all .3s ease 0s,-webkit-transform .6s cubic-bezier(.6,.2,.1,1) 0s;
  transition:all .3s ease 0s,transform .6s cubic-bezier(.6,.2,.1,1) 0s;
  transition:all .3s ease 0s,transform .6s cubic-bezier(.6,.2,.1,1) 0s,-webkit-transform .6s cubic-bezier(.6,.2,.1,1) 0s;
}

#book .content li .info {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:start;
  -ms-flex-pack:start;
  justify-content:flex-start;
  padding:16px 12px 0;
  line-height:1.7;
  list-style:none;
}

.book-container {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-perspective:600px;
  perspective:600px;
}

.book {
  position:relative;
  width:100px;
  height:150px;
  -webkit-transform-style:preserve-3d;
  transform-style:preserve-3d;
  -webkit-transform:rotateY(-30deg);
  transform:rotateY(-30deg);
  -webkit-transition:1s ease;
  transition:1s ease;
  -webkit-animation:bookRotate 0s 1s ease 0s;
  animation:bookRotate 0s 1s ease 0s;
  list-style:none;
}

.book:before {
  content:" ";
  position:absolute;
  left:0;
  top:2px;
  width:23px;
  height:146px;
  -webkit-transform:translateX(84.5px) rotateY(
90deg
);
  transform:translateX(84.5px) rotateY(90deg);
  background:-webkit-gradient(linear,left top,right top,from(#fff),color-stop(5%,#f9f9f9),color-stop(10%,#fff),color-stop(15%,#f9f9f9),color-stop(20%,#fff),color-stop(25%,#f9f9f9),color-stop(30%,#fff),color-stop(35%,#f9f9f9),color-stop(40%,#fff),color-stop(45%,#f9f9f9),color-stop(50%,#fff),color-stop(55%,#f9f9f9),color-stop(60%,#fff),color-stop(65%,#f9f9f9),color-stop(70%,#fff),color-stop(75%,#f9f9f9),color-stop(80%,#fff),color-stop(85%,#f9f9f9),color-stop(90%,#fff),color-stop(95%,#f9f9f9),to(#fff));
  background:linear-gradient(90deg,#fff,#f9f9f9 5%,#fff 10%,#f9f9f9 15%,#fff 20%,#f9f9f9 25%,#fff 30%,#f9f9f9 35%,#fff 40%,#f9f9f9 45%,#fff 50%,#f9f9f9 55%,#fff 60%,#f9f9f9 65%,#fff 70%,#f9f9f9 75%,#fff 80%,#f9f9f9 85%,#fff 90%,#f9f9f9 95%,#fff);
  border-radius:0 5px 5px 0;
}

.book>:first-child {
  position:absolute;
  top:0;
  left:0;
  width:100px;
  height:150px;
  -webkit-transform:translateZ(12.5px);
  transform:translateZ(12.5px);
  border-radius:0 5px 5px 0;
  -webkit-box-shadow:5px 5px 20px #d6d6d6;
  box-shadow:5px 5px 20px #d6d6d6;
  object-fit: cover;
}

.book:after {
  content:" ";
  position:absolute;
  top:0;
  left:0;
  width:100px;
  height:150px;
  -webkit-transform:translateZ(-12.5px);
  transform:translateZ(-12.5px);
  background-color:#555;
  border-radius:0 5px 5px 0;
}

#book .content li .info>div {
  margin-left:26px;
}

#book .content li .info h3 {
  font-weight:700;
  font-size:16px;
}

#book .content li .info p a {
  position:relative;
  color:#ffffff;
}

#book .content li .info p a:before {
  content:"î ‰ " attr(href);
  position:absolute;
  padding:0 4px;
  width:-webkit-max-content;
  width:-moz-max-content;
  width:max-content;
  pointer-events:none;
  font-family:Fontello;
  font-size:12px;
  -webkit-box-shadow:0 14px 38px rgba(0,0,0,.08),0 3px 8px rgba(0,0,0,.06);
  box-shadow:0 14px 38px rgba(0,0,0,.08),0 3px 8px rgba(0,0,0,.06);
  border-radius:3px;
  background-color:#fff;
  opacity:0;
  -webkit-transform:scale(.7) translateY(-75%);
  transform:scale(.7) translateY(-75%);
  -webkit-transform-origin:left center;
  transform-origin:left center;
  -webkit-transition:all .3s ease 0s;
  transition:all .3s ease 0s;
}

#book .content li .info p a:after {
  content:"";
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:1.5px;
  background-color:#5e6e80;
  -webkit-transform:scaleX(0);
  transform:scaleX(0);
  -webkit-transform-origin:bottom right;
  transform-origin:bottom right;
  -webkit-transition:-webkit-transform .3s ease-out;
  transition:-webkit-transform .3s ease-out;
  transition:transform .3s ease-out;
  transition:transform .3s ease-out,-webkit-transform .3s ease-out;
}

#book .content li .description {
  padding:12px;
  font-size:14px;
  line-height:1.7;
  height:3.6rem;
}

#book .content li .info p {
  font-size:14px;
  line-height:1.7;
  margin:5px;
}

@media screen and (min-width:768px) {
  #book .content li:hover {
    -webkit-transform:translateY(-4px);
    transform:translateY(-4px);
    -webkit-box-shadow:0 20px 40px rgb(0 0 0 / 7%);
    box-shadow:0 20px 40px rgb(0 0 0 / 7%);
  }
}

#book .content li:hover .book {
  -webkit-transform:rotateY(0);
  transform:rotateY(0);
}

#book .books-content {
  text-align:justify;
  padding:0;
}

#book .books-content li {
  list-style:none;
}

#book .books-content .books_excerpt {
  margin-top:.85rem;
}

#book .books-content li .info {
  display:flex;
  #line-height:1.7;
  list-style:none;
}

.books-container {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-perspective:600px;
  perspective:600px;
}

.books {
  position:relative;
  width:100px;
  height:150px;
  -webkit-transform-style:preserve-3d;
  transform-style:preserve-3d;
}

.books:before {
  content:" ";
  position:absolute;
  left:0;
  top:2px;
  width:23px;
  height:146px;
  -webkit-transform:translateX(84.5px) rotateY(90deg);
  transform:translateX(84.5px) rotateY(90deg);
  background:-webkit-gradient(linear,left top,right top,from(#fff),color-stop(5%,#f9f9f9),color-stop(10%,#fff),color-stop(15%,#f9f9f9),color-stop(20%,#fff),color-stop(25%,#f9f9f9),color-stop(30%,#fff),color-stop(35%,#f9f9f9),color-stop(40%,#fff),color-stop(45%,#f9f9f9),color-stop(50%,#fff),color-stop(55%,#f9f9f9),color-stop(60%,#fff),color-stop(65%,#f9f9f9),color-stop(70%,#fff),color-stop(75%,#f9f9f9),color-stop(80%,#fff),color-stop(85%,#f9f9f9),color-stop(90%,#fff),color-stop(95%,#f9f9f9),to(#fff));
  background:linear-gradient(90deg,#fff,#f9f9f9 5%,#fff 10%,#f9f9f9 15%,#fff 20%,#f9f9f9 25%,#fff 30%,#f9f9f9 35%,#fff 40%,#f9f9f9 45%,#fff 50%,#f9f9f9 55%,#fff 60%,#f9f9f9 65%,#fff 70%,#f9f9f9 75%,#fff 80%,#f9f9f9 85%,#fff 90%,#f9f9f9 95%,#fff);
  border-radius:0 5px 5px 0;
}

.books>:first-child {
  position:absolute;
  top:0;
  left:0;
  width:100px;
  height:150px;
  -webkit-transform:translateZ(12.5px);
  transform:translateZ(12.5px);
  border-radius:0 5px 5px 0;
  -webkit-box-shadow:5px 5px 20px #d6d6d6;
  box-shadow:5px 5px 20px #d6d6d6;
}

.books:after {
  content:" ";
  position:absolute;
  top:0;
  left:0;
  width:100px;
  height:150px;
  -webkit-transform:translateZ(-12.5px);
  transform:translateZ(-12.5px);
  background-color:#555;
  border-radius:0 5px 5px 0;
}

#book .books-content li .info>div {
  margin-left:26px;
}

#book .books-content li .info h3 {
  font-size:1.2rem;
  font-weight:700;
}

#book .books-content li .info p a {
  position:relative;
  color:#ffffff;
}

#book .books-content li .description {
  padding:12px;
  font-size:14px;
  line-height:1.7;
}

#book .books-content li .info p {
  #font-size:13px;
  font-weight:400;
  color:#74858f;
  #margin-left:1rem;
}

#book .books-content li:hover .book {
  -webkit-transform:rotateY(0);
  transform:rotateY(0);
}

@media only screen and (max-width:580px) {
  #book .books-content .books_excerpt {
    margin-top:1.85rem;
  }
  #book .books-content li .info {
    padding:0;
  }
  #book .books-content li .info>div {
    #margin-left:1rem;
    line-height:1;
  }
  #book .books-content li .info p {
    margin:0 0 10px 0rem;
  }
  .books:before {
    width:23px;
    height:146px;
  }
  .books:after {
    content:" ";
    position:absolute;
    top:0;
    left:0;
    width:100px;
    height:150px;
    -webkit-transform:translateZ(-12.5px);
    transform:translateZ(-12.5px);
    background-color:#555;
    border-radius:0 5px 5px 0;
  }
}

.post_entry-content a {
  color:#000;
}

.post_entry-content a p {
  color:#000;
  margin:1rem 0;
}

.book_post_thumbnail::after {
  content:"";
  background:rgb(32 54 86 / 43%);
  display:block;
  height:100%;
  left:0;
  top:0;
  position:absolute;
  width:100%;
  backdrop-filter:saturate(180%) blur(15px);
  -webkit-backdrop-filter:saturate(130%) blur(15px);
  border-radius:5px;
}

.no-box-shadow {
  -webkit-box-shadow:none !important;
  box-shadow:none !important;
}

.content-img-post img {
  border-radius:5px;
}

.content-img-post .masonry-alt {
  width:100%;
  border-radius:0;
  text-align:center;
  padding:5px;
  border-radius:0 0 5px 5px;
}

.card-body{padding:10px 4px}.reply2view{background:repeating-linear-gradient(145deg,#f2f2f2,#f2f2f2 15px,#fff 0,#fff 30px);padding:10px 40px 10px 40px;position:relative}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #000;
    background-color: #f5f5f5;
    /* border-color: #000; */
}
.nav-tabs .nav-link {
    color: #4d5259b8;
}
.nav-tabs .nav-link {
    color: #4d5259;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}